{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

</head>
<body>
<div>
<h3>Cantidad de diferencias:</h3>  {{ contador }}
<h3>Precisión:</h3> {{ precision }} %
<h3>Duración de la ejecución</h3> {{ duracion }} segundos
</div>

<h4>Genoma Alineado</h4>
    {% for gen in genalinado %}
       <h8>{{ gen }}</h8>
    {% endfor %}

</body>
</html>